<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Name</th>
      <th class="text-md-right">Amount</th>
      <th>Periodicity</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to item.description, item %></td>  
        <td><%= item.name %></td>
        <td class="text-md-right"><%= number_to_currency(item.amount, locale: :jp) %></td>
	<td><%= link_to item.periodicity.name, periodicity_path(item.periodicity) %></td>
	<td><%= link_to item.category.name, category_path(item.category) if item.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

