<h1>Editing Periodicity</h1>

<pP<%= render 'form', periodicity: @periodicity %></p>

<%= link_to 'Back', :back, class: 'btn btn-secondary' %>
<%= link_to 'Show', @periodicity, class: 'btn btn-secondary' %>
<%= link_to 'List', periodicities_path, class: 'btn btn-secondary' %>
<%= link_to 'Destroy', @periodicity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

