<p id="notice"><%= notice %></p>

<h1>Periodicity</h1>
<h2><%= @periodicity.name %> Payment</h2>

<%= link_to 'Edit', edit_periodicity_path(@periodicity), class: 'btn btn-secondary' %>
<%= link_to 'Back', :back, class: 'btn btn-secondary' %>

<%= link_to 'New Item', new_periodicity_item_path(@periodicity), class: 'btn btn-primary' %>

<p><%= render partial: 'items/index', locals:  {items: @periodicity.items} %></p>
