<p id="notice"><%= notice %></p>

<h1><%= @periodicity.name %> Payment</h1>

<p>
  <%= link_to 'Edit', edit_periodicity_path(@periodicity), class: 'btn btn-secondary' %>
  <%= link_to 'List', periodicities_path, class: 'btn btn-secondary' %>
</p>

<p>
  <%= link_to 'New Item', new_periodicity_item_path(@periodicity), class: 'btn btn-primary' %>
</p>

<p><%= render partial: 'items/index', locals:  {items: @periodicity.items} %></p>
